.register-order__agreement {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #13141B;
    opacity: 0.67;
    margin-top: 25px;
}

.register-order__agreement label{
    display: flex;
    align-content: center;
    align-items: center;
}