.promocode__btn {
    height: 42px;
    background: #263B3A;
    border: 1px solid #263B3A;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 10px;
    transition: all .2s ease;
}

.promocode__btn:hover {
    background-color: rgba(38, 59, 58, 0.7);

}

.promocode__btn:active {
    background-color: #fff;
    color: #263B3A;
}