.stage__number {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #13141B;
    border-radius: 15px;
    margin-right: 20px;
}