.delivery-item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px 40px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .delivery-item {
        grid-template-columns: 1fr auto;
    }
}