.delivery-address {
    display: none;
    gap: 20px;
    width: 100%;
}

.delivery-address.active {
    display: flex;
}

.delivery-address .delivery__label {
    max-width: 100px;
}

@media screen and (max-width: 700px) {
    .delivery-address {
        flex-wrap: wrap;
    }
    .delivery-address .delivery__label {
        max-width: 100%;
        width: calc((100% - 40px) / 3);
    }
   
}